*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Inter';
    display: flex;
   
    
   
   
}


.container{
    display: flex;
    background-color: white;
    height:96vh ;
    width:95% ;
    border-radius:0 50px 50px 0;
    margin: 20px ; 
    padding: 0;
    margin-left: 0;
  
   
}
main{
   
    width: 100%;
   
}
.side-bar{
    height: auto;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14213D;
    border-radius: 50px 0 0 50px;
    margin: 20px 0 20px 20px;
    
   
   
    
    
    


}
.side-bar h1{
    font-size: 35px;
    color: white;
   font-weight: 800;
   margin: 10px 0;
   
}
.side-bar h2{
    font-size: 20px;
    font-weight: lighter ;
    color: white;
    margin-bottom: 10px;
    
 
    

}
.btn_sd{
    padding: 10px;
    font-size: 15px;
    border-radius: 70px;
    background-color: #FCA311;
    margin-bottom: 30px;
    border: transparent;
    
}
.tres1{
    background-color: #FCA311;
    width: 80%;
    height: 3px;
    margin-bottom: 15px;
    
}
.plan-etage{ 
    width: 100%;
    height: 20%;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.plan-etage h1{
    color: black;
    text-align: center;
   font-size: 40px;
   margin-top: 5px;
   
    


}
.tres2{
    background-color: black;
    width: 50%;
    height: 3px;
    margin-top: 15px;
}
.salle{
    width: 100%;
    height: 220px;
    background-color: #14213D;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

}
.tres3{
    width: 80%;
    height: 1px;
    background-color: white;
}
.salle h1{

    font-size: 20px;
    color: white;


}

.salle button{
    
border-radius: 100%;
background-color: #FCA311;
font-size: 25px;
margin-left: 85%;
margin-bottom: 8px;
width: 30px;
border: transparent;



}
.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
   
    
}
.zone{
    
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    gap: 10px;
     margin: 0 10px;
   

}
.employe{
    width: 97%;
    display: flex;
    justify-content: space-between;
    background-color: #324876;
    border-radius: 30px;
    padding: 10px;
   
    
    
}
.employe img{
    height: 50px;
    border-radius: 100%;
}
.info_employe h2{
    font-weight: bold;

  font-size: 15px;
    
}
.info_employe h3{
    font-size: 15px;
    background-color: #7591A3;
    text-align: center;
    width: 80px;
    border-radius: 20px;

}
.btn_edit{
    color:#FCA311;
    font-weight: bold;
    font-size: 15px;
   background:transparent;
   border: transparent;
  
    
}
.tous-les-employe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 62vh;
    align-items: center;
    
    
     
    
}


.container2{
    background-color: rgba(4, 0, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
   position: fixed;
   opacity: 0;
   pointer-events: none;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   transition: opacity 0.3s ease;
   
}
.container2.show{
    pointer-events: auto;
    opacity: 1;
}
.card{
    background-color:white;
     display: flex;
     box-shadow: 0 2px 8px rgb(0, 0, 0);
     flex-direction: column;
     width:450px ;
     height: 600px;
     text-align: center;
     overflow-y: auto;
    
    
  
}
.tete{
    background-color: #14213D;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8px;
}
.tete h1{
    font-size: 25px;
    color: aliceblue;
}
#closex{
    height:40px;
    font-size: 30px;
    background: transparent;
    border: none;
    color: #FCA311;
}
.input_employe {
    text-align: left;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 15px;

  
}
.input_employe h1{
    
    margin: 5px;

    font-size: 25px;
}
.input_employe input{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
}
#liste_role{
     width: 100%;
    height: 40px;
    border-radius: 50px;
   
}
.btn-ajouter-et-annuler{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0 20px 8px 0;



}
#close{
    background-color: #1d1e2287;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    color: black;
    padding: 8px;
    border: solid 2px black;
}
.enregistrer{
font-size: 18px;
background-color: #14213D;
color: #FCA311;
border: #FCA311 solid 2px;
border-radius: 20px;
padding: 8px;
}

.titre-experience{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color:  #14213D;
 border-radius: 20px;
 padding: 8px;
 
 
}
.titre-experience h1{
    color:#FCA311;
    width: 100%;
    text-align: center;
    
}
#ajouter_experience{
    width: 30%;
    background-color: #FCA311;
    border: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
    color: #14213D;
    font-weight: bold;
    border:solid 2px #14213D;
}
.tres-exp{
    width: 80%;
    height: 3px;
    background-color: #14213D;
    margin: 15px auto;

}






@media(max-width:767px){
    body{
        flex-direction: column;
    align-items: center;
    }
    .container{
        width:95%;
        flex-direction:column;
        height:100%;
        align-items: center;
       border-radius:0 0 40px 40px;
       margin: 0 0 20px 0;
      
     
       
    }

    .side-bar{
      height:100%;
        width:95%;
        border-radius:40px 40px 0px 0;
        margin:20px 0 0 0;
        
       
       
        
    }
   
    .zone{
        
        grid-template-columns: repeat(1,1fr);
        margin: 10px;

    }
    .salle{
        width: 100%;
    }
    .employe{
        flex-direction: column;
        width: 100px;
        margin-bottom: 10px;
       

    }
    .employe h2{

        text-align: center;
        
    }
    .btn_edit{
        margin-top: 5px;
    }
    .tous-les-employe{
        flex-direction: row;
        justify-content: center;
        height:30vh;
        width:;
        overflow-x: auto;
       
        
    }
   
    
    
}

@media(min-width: 768px) and (max-width: 1023px){

  .container{
     width:100%;
     height:100%;
     align-items: flex-start;
   
  }
  .side-bar{
    height: 135vh;
    text-align: center;
    padding-top: 15px;
  }
  .side-bar h1{
    font-size: 20px;
    
  }
  .side-bar h2{
    font-size: 15px;
  }
  .side-bar button{
    font-size: 10px;
  }
 
  .zone{
    padding: 20px 0;
    grid-template-columns: repeat(2,1fr);
  }
  
}
@media(min-width: 1024px) and (max-width: 1279px){


    .container{
        height: 98vh;
    }
    .side-bar h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .side-bar h2{
        font-size: 15px;
    }
    .employe{
        align-items: center;
        
    }
    .employe h2{
        text-align: center;
    }
    
}
@media(min-width:1280px){
    .side-bar h1{
        font-size: 35px;
        margin-top: 23px;
    }
}









        
    














